@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.blogpost-page {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.title {
    font-family: 'Pacifico', cursive;
}